DB_NAME = 
DB_USERNAME = 
DB_PASSWORD = 
DB_HOST = 
DB_PORT = 

MONGO_DB_NAME = 
MONGO_DB_HOST = "mongodb://localhost:<port>"

NEO4J_DB_HOST = "bolt://localhost:<port>"
NEO4J_DB_USERNAME = 
NEO4J_DB_PASSWORD = 

PORT = 