MYSQL_DEV_DB_NAME = 
MYSQL_DEV_DB_USERNAME = 
MYSQL_DEV_DB_PASSWORD = 
MYSQL_DEV_DB_HOST = 
MYSQL_DEV_DB_PORT = 

MONGO_DEV_DB_NAME = 
MONGO_DEV_DB_HOST = "mongodb://localhost:<port>"

NEO4J_DEV_DB_HOST = "bolt://localhost:<port>"
NEO4J_DEV_DB_USERNAME = 
NEO4J_DEV_DB_PASSWORD = 

DEV_PORT = 